.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    background-color: #ffc7d4;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; /* Responsive font size */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add transition */
    width: 10rem;
    height: auto;
    padding: 0.2rem 1rem 0.2rem 1rem;
    text-align: center;
}

    .btn.selecionado {
        border: 3px solid #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    .btn:hover {
        transform: scale(1.05); /* Efeito de zoom no hover */
    }

.btnImg {
    height: 6rem;
    width: 6rem;
    margin: 0px;
}

.btnTitulo {
    font-size: 2rem;
    margin-bottom: 0.1rem; /* Espaço entre o título e o subtítulo */
}