.background-box {
    background-color: white;
    padding: 2rem 1.5rem;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    width: 40%;
    height: 100%;
}

.actionBtn {
    margin-bottom: 2rem;
    background-color: #ffc7d4;
    border: 1px solid black;
    padding: 0.5rem 5rem; /* Use responsive padding */
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem; /* Responsive font size */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add transition */
}
